<div class="app-canvas-container">
  <canvas appCanvasRuler #horizontalRuler class="canvas-ruler orientation-horizontal"
    [canvasType]="canvasType" [orientation]="'horizontal'">
  </canvas>
  <canvas appCanvasRuler #verticalRuler class="canvas-ruler orientation-vertical"
    [canvasType]="canvasType" [orientation]="'vertical'">
  </canvas>
  <div #canvasContainer class="canvas-container">
    <canvas #renderingCanvas class="rendering-canvas" (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"
      (mouseleave)="onMouseLeave($event)">
    </canvas>
    <canvas #labeledPointCanvas class="labeled-point-canvas">
    </canvas>
    <canvas #pixelGridCanvas class="pixel-grid-canvas">
    </canvas>
  </div>
</div>
